<%- include('../partials/header') %>
<div class="container-main">
    <div class="row">
      <br>&nbsp;
      <h2 class="text-dark" style="text-align:center">All Customers</h2> 
    </div>
    <br>
   
        <table class="table table-hover">
            <thead>
              <tr class ="table-primary">
                <th scope="row">ID</th>
                <th scope="row">Name</th>
                <th scope="row">@Email</th>
                <th scope="row">Street</th>
                <th scope="row">City</th>
                <th scope="row">State</th>
                <th scope="row">Zip</th>
                <th scope="row">contact</th>
                <th scope="row">Roles</th>
                <th scope="row">Status</th> 
                <th scope="row" colspan="2" style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
           
            <% for (var i=0;i<users.length ;i++) { %>
              <tr class="table-secondary">
                <th scope="row"><%= i+1 %></th>
                <td><%= users[i].name%></td>
                <td><%= users[i].email%></td>
                <td><%= users[i].address.street%></td>
                <td><%= users[i].address.city%></td>
                <td><%= users[i].address.state%></td>
                <td><%= users[i].address.zip%></td>
                <td><%= users[i].contact%></td>
                <td><%= users[i].role.role%></td>
                <td><%= users[i].status%></td>
                
                <td>
                    <a href="/customers/<%= users[i]._id%>/edit" class="btn btn-primary delete">EDIT</a>
                </td>
                <td>
                  <form action="/customers/<%= users[i]._id%>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-primary delete">DELETE</button>
                </form>
                <a href="" class="btn boder-shadow delete">
                    
                </a>
                </td>
              </tr>
              <% } %>
            </tbody>
        </table>
  </div>

<%- include('../partials/footer') %>